
.line1{
    font-size:150px;
    text-align:center;
    width: 100%;
}
.center{
    width:100%
}
.line234{
    position:relative;
    border-style:outset;
    border-color:#a0ccf0;
    width: 80%;
    margin: 0 auto;
    background-color: cornflowerblue;
    padding: 25px;
}
.logs{
    position:relative;
    border-style: outset;
    border-color:#a0ccf0;
    width: 70%;
    margin: 0 auto;
    background-color: cornflowerblue;
    padding: 25px;
}

.rizhi{
    background:#fff;
    padding:5px;
}
.titles{
    padding:5px;
    background:#fff;
}

.friends{
    position:relative;
    border-style: outset;
    border-color:#a0ccf0;
    width: 70%;
    margin: 0 auto;
    background-color: cornflowerblue;
    padding: 25px;
}

.youlian{
    background:#fff;
    padding:5px;
}
.friend{
    padding:5px;
    background:#fff;
}

.line2{
    font-size:120px;
    background-color: #ffffff;
    border-style: solid;
    border-color: #000000;
    text-align:center;
    margin-bottom: -20px;
}

.line3{
    font-size:50px;
    color: #ffffff;
    text-align:center;
    width: 100%;
    background-color: black;
}

.line4{
    font-size:35px;
    color: #bfd7ec;
    padding-top: 20px;
}